<link rel="stylesheet" href="/css/filterbtn.css">
<div class="main">
    <header class="nav fixed-top">
        <div>
            <span class="close">
                <svg xmlns="http://www.w3.org/2000/svg" onclick="closefilter()" height="1em" viewBox="0 0 384 512">
                    <path
                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                </svg>
            </span>
            <h1>Filters</h1>
        </div>
    </header>
    <div class="container-btn">
        <div>
            <section class="mb-2">
                <div>
                    <div>
                        <h2 class="h-tag">Type of place</h2>
                        <div class="text">Search rooms,entire homes or any type of place.</div>
                    </div>
                    <div class="place-type mt-2">
                        <div class="btn-group">
                            <button class="btn btn-outline-dark">Any type</button>
                            <button class="btn btn-outline-dark">Room</button>
                            <button class="btn btn-outline-dark">Entire home</button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="mb-2">
                <div>
                    <div>
                        <h2 class="h-tag">Price range</h2>
                        <div class="text">Nightly prices before fees and taxes</div>
                    </div>
                    <div class="graph">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="graphH"></div>
                    <div class="price-range mt-2">
                        <div class="mb-1">
                            <div>Minimum</div>
                            <div>
                                <span>₹</span>
                                <input type="number" value="870" name="" id="" min="1">
                            </div>
                        </div>
                        <!-- <span style="display: block;">__</span> -->
                        <div class="mb-1">
                            <div>Maximum</div>
                            <div>
                                <span>₹</span>
                                <input type="number" value="54000" name="" id="" min="500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div>
                    <h2 class="h-tag">Rooms and beds</h2>
                </div>
                <div>
                    <div>
                        <div class="text">Bedrooms</div>
                        <div class="room-beds mt-2 mb-2">
                            <div>Any</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            <div>8+</div>
                        </div>
                    </div>
                    <div>
                        <div class="text">Beds</div>
                        <div class="room-beds mt-2 mb-2">
                            <div>Any</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            <div>8+</div>
                        </div>
                    </div>
                    <div>
                        <div class="text">Bathrooms</div>
                        <div class="room-beds mt-2 mb-2">
                            <div>Any</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            <div>8+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div>
                    <h2 class="h-tag">Top-tier stays</h2>
                </div>
                <div class="tier-stay">
                    <div><img src="" alt=""></div>
                    <div>
                        <h3>Guest favourites</h3>
                    </div>
                    <div class="text">
                        <p>The most loved homes on Airbnb according to guests</p>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div>
                    <h2 class="h-tag">Property type</h2>
                </div>
                <div class="property-type">
                    <div>
                        <div><img src="/Icon/home.jpg" style="height: 25px; width: 25px;" alt="House"></div>
                        <div><b>House</b></div>
                    </div>
                    <div>
                        <div><img src="/Icon/flat.jpg" style="height: 25px; width: 25px;" alt="Flat"></div>
                        <div><b>Flat</b></div>
                    </div>
                    <div>
                        <div><img src="/Icon/guest-house.jpg" style="height: 25px; width: 25px;" alt="Guest"></div>
                        <div><b>Guest house</b></div>
                    </div>
                    <div>
                        <div><img src="/Icon/hotel.jpg" style="height: 25px; width: 25px;" alt="Hotel"></div>
                        <div><b>Hotel</b></div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div>
                    <h2 class="h-tag">Amenities</h2>
                </div>
                <div><b>Essentials</b></div>
                <div class="amenities">
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <span class="textbig">Wifi</span>
                    </div>
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <span class="textbig">Kitchen</span>
                    </div>
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <span class="textbig">Washing machine</span>
                    </div>
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <span class="textbig">dryer</span>
                    </div>
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <span class="textbig">Air conditioning</span>
                    </div>
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <span class="textbig">Heating</span>
                    </div>
                </div>
                <a href="#">
                    <div>
                        <h4>Show more</h4>
                    </div>
                </a>
            </div>
            <div class="mb-2">
                <div>
                    <h2 class="h-tag">Booking options</h2>
                </div>
                <div class="booking">
                    <div>
                        <div>
                            <h4>Instant Book</h4>
                            <p class="text">Listing you can book without waiting for host approval</p>
                        </div>
                        <div>
                            <label class="toggle-container">
                                <input type="checkbox" class="toggle-checkbox">
                                <span class="toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h4>Self check-in</h4>
                            <p class="text">Easy access to the property once you arrive</p>
                        </div>
                        <div>
                            <label class="toggle-container">
                                <input type="checkbox" class="toggle-checkbox">
                                <span class="toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h4>Allows pets</h4>
                            <p class="text"><b>Bringing a service aanimal?</b></p>
                        </div>
                        <div>
                            <label class="toggle-container">
                                <input type="checkbox" class="toggle-checkbox">
                                <span class="toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div>
                    <h2 class="h-tag">Accessibility features</h2>
                </div>
                <div style="font-size: 1rem; font-weight: 600;">Guest entrance and parking</div>
                <div class="acc-features mt-3">
                    <div>
                        <p class="textbig">Step-free guest entrance</p>
                        <input type="checkbox" class="checkboxBtn">
                    </div>
                    <div>
                        <p class="textbig">Guest entrance wider than 32 inches (81 centimetres)</p>
                        <input type="checkbox" class="checkboxBtn">
                    </div>
                    <div>
                        <p class="textbig">Step-free guest entrance</p>
                        <input type="checkbox" class="checkboxBtn">
                    </div>
                    <div>
                        <p class="textbig">Step-free guest entrance</p>
                        <input type="checkbox" class="checkboxBtn">
                    </div>
                </div>
                <a href="#">
                    <div>
                        <h4>Show more</h4>
                    </div>
                </a>
            </div>
            <div class="mb-2">
                <div>
                    <h2 class="h-tag">Host language</h2>
                </div>
                <div class="language">
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <p class="textbig">English</p>
                    </div>
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <p class="textbig">French</p>
                    </div>
                    <div>
                        <input type="checkbox" class="checkboxBtn" name="" id="">
                        <p class="textbig">German</p>
                    </div>
                    <div>
                        <input style="height: 30px;" type="checkbox" class="checkboxBtn" name="" id="">
                        <p class="textbig">Japanese</p>
                    </div>
                </div>
                <a href="#">
                    <div>
                        <h4>Show more</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <footer class="nav fixed-bottom">
        <div class="bottom-flt">
            <button class="btn btn-outlint-success">Clear all</button>
            <a class="btn btn-dark" href="">Show 687 places</a>
        </div>
    </footer>
</div>
<script src="/js/filterIcon.js"></script>