<style>
/* flush animation -------------------------------------------------------------------------------------  */
    .alert{
        display: flex;
        justify-content: center;
        z-index: 1;
        position: absolute;
        top: calc(5.5rem - 90px);
        /* top: 5.5rem; */
        animation: slide-in 3s ease-in forwards;
    }
    @media (max-width:768px) {
        .alert{
            /* left: 17%; */
        }
        
    }
    @keyframes slide-in {
        0% {
            top: calc(5.5rem - 90px);
        }
        25%{
            top: 5.5rem;
        }
        75%{
            top: 5.5rem;
        }
        100%{
            top: calc(5.5rem - 90px);
        }
    }
</style>
<!-- add on boilerplate -->
<% if(success && success.length){ %>
<div class="alert alert-success alert-dismissible fade show col-8 offset-2" role="alert">
    <b><%= success %></b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(error && error.length){ %>
<div class="alert alert-danger alert-dismissible fade show col-8 offset-2" role="alert">
    <b><%= error %></b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>    

<!-- 
<script>
    // Add flash message
    const flashMessage = document.querySelector('.alert');
    if (flashMessage) {
        // Show the message
        flashMessage.style.display = 'block';

        // Set a timeout to hide the message after 5 seconds (5000 milliseconds)
        setTimeout(() => {
            flashMessage.style.display = 'none';
        }, 3000);
    }
</script> -->