<style>
    /* flush animation -------------------------------------------------------------------------------------  */
    .anima {
        position: absolute;
        top: calc(5.5rem);
        animation: slide-in 3s ease-in forwards;
        z-index: 110;
    }

    @keyframes slide-in {
        0% {
            top: calc(5.5rem - 90px);
        }

        25% {
            top: 5.5rem;
        }

        75% {
            top: 5.5rem;
        }

        100% {
            top: calc(5.5rem - 190px);
        }
    }
    @media (max-width: 767px) {
        .anima{
            top: 8rem;
        }
        @keyframes slide-in {
        0% {
            top: calc(8rem - 90px);
        }

        25% {
            top: 8rem;
        }

        75% {
            top: 8rem;
        }

        100% {
            top: calc(8rem - 190px);
        }
    }
    }
</style>
<!-- add on boilerplate -->
<% if(success && success.length){ %>
    <div class="alert alert-success fade show col-8 offset-2 anima text-center" role="alert">
        <b>
            <%= success %>
        </b>
    </div>
<% } %>

<% if(error && error.length){ %>
    <div class="alert alert-danger fade show col-8 offset-2 anima text-center" role="alert">
        <b>
            <%= error %>
        </b>
    </div>
<% } %>