<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="main-ftr">
        <div class="ftr-head">
            <h3>Inspiration for future getaways</h3>
        </div>
        <div class="ftr-nav">
            <div class="main-light ftr-nav-m" style="opacity: 1; border-bottom: 2px solid rgba(0, 0, 0, 1);">Popular
            </div>
            <div class="main-light ftr-nav-m">Arts & culture</div>
            <div class="main-light ftr-nav-m">Outdoors</div>
            <div class="main-light ftr-nav-m">Mountains</div>
            <div class="main-light ftr-nav-m">Beach</div>
            <div class="main-light ftr-nav-m">Unique stays</div>
            <div class="main-light ftr-nav-m">Categories</div>
            <div class="main-light ftr-nav-m">Things to do</div>
        </div>
        <div class="ftr-nav-pop">
            <div>
                <div>
                    <div class="main-light">Canmore</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Benalmadena</div>
                    <p class="light">Flat rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Marbella</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mijas</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Prescott</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Scottsdale</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Tucson</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Jasper</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mountain View</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Devonport</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mallacoota</div>
                    <p class="light">Beach house rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Ibiza</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Anaheim</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mounterey</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Paso Robles</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Santa Barbara</div>
                    <p class="light">Flat rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Sonoma</div>
                    <p class="light">Cottage rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light show">
                        <span>Show more</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <p> </p>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-mdl">
            <div>
                <div class="main-light mb-2">Support</div>
                <div class="ftr-mdl-cont">
                    <div><span>Help Centre</span></div>
                    <div><span>AirCover</span></div>
                    <div><span>Anti-discrimination</span></div>
                    <div><span>Disability support</span></div>
                    <div><span>Cancellation option</span></div>
                    <div><span>Report neighbourhood concern</span></div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2">Hosting</span></div>
                <div class="ftr-mdl-cont">
                    <div><span>Airbnb your home</span></div>
                    <div><span>AirCover for Hosts</span></div>
                    <div><span>Hosting resources</span></div>
                    <div><span>Community forum</span></div>
                    <div><span>Hosting responsibly</span></div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2">Airbnb</div>
                <div class="ftr-mdl-cont">
                    <div><span>Newsroom</span></div>
                    <div><span>New features</span></div>
                    <div><span>Careers</span></div>
                    <div><span>Investors</span></div>
                    <div><span>Airbnb.org emergency stays</span></div>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-copy">
            <div>
                <div>&copy; 2023 Airbnb, Inc. &sdot; &nbsp; </div>
                <div class="priv">
                    <a href="#">Privacy</a> &sdot;
                    <a href="#">Terms</a> &sdot;
                    <a href="#">Sitemap</a> &sdot;
                    <a href="#">Company details</a>
                </div>
            </div>
            <div class="ftr-net">
                <div class="eng-in">
                    <i class="fa-solid fa-globe me-1"></i>
                    <div class="main-light">English (IN)</div>
                </div>
                <div class="ftr-inr">₹ INR</div>
                <div class="social-icon">
                    <a href="https://github.com/akashdeep023/">
                        <img src="/Icon/github.png" alt="GitHub">
                    </a>
                    <a href="https://www.linkedin.com/in/akashdeep023/">
                        <img src="/Icon/linkedIn.png" alt="LinkedIn">
                    </a>
                    <a href="https://www.instagram.com/mr_akashdeep_/">
                        <img src="/Icon/instagram.png" alt="Instagram">
                    </a>
                    <a href="https://www.facebook.com/akashdeep3500/">
                        <img src="/Icon/facebook.png" alt="Facebook" style="padding: 1px;">
                    </a>
                    <a href="#">
                        <img src="/Icon/twiter.png" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
        <div class="ftr-akash">
            <p> Made by - Akash Deep</p>
        </div>
    </div>
</footer>