<link rel="stylesheet" href="/css/navbar.css"> <!-- link style file -->

<nav class="nav-box">
  <div id="nav-main">
    <div id="nav-main-bar">
      <div class="nav-icon">
        <a href="/listings"><img class="imgAirbnb" src="/Icon/name-logo.png" alt="Airbnb"></a>
        <a href="/listings"><img class="imgAirbnb-s" src="/Icon/name-logo-s.png" alt="Airbnb"></a>
      </div>
      <div class="nav-search nav-hover nav-search-search">
        <form class="d-flex" role="search" action="/listings/search" method="get" id="searchBox">
          <input type="search" placeholder="Search" aria-label="Search" name="q" id="mySearchInput">
          <button type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></i></button>
        </form>
      </div>
      <div class="nav-user nav-hover">
        <div>
          <img src="/Icon/navbar-icon.png" id="png-img-bar">
          <img src="/Icon/navbar-icon-user.png" alt="User" id="png-img-user">
          <img src="/Icon/navbar-icon-cross.png" id="png-img-cross">
        </div>
      </div>
      <div class="user-fnx" style="display: none;">
        <a href="/profile">Profile</a>
        <a href="/listings/new">Airbnb your home</a>
        <% if(!currUser){ %>
          <a href="/signup">SignUp</a>
          <a href="/login">LogIn</a>
        <% } %>
        <% if(currUser){ %>
          <a href="/logout">LogOut</a>
        <% } %>
      </div>
    </div>
    <div id="nav-search-hide">
      <div class="nav-search nav-hover">
        <form class="d-flex" role="search" action="/listings/search" method="get" id="searchBox">
          <input type="search" placeholder="Search" aria-label="Search" name="q" id="mySearchInput">
          <button type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>
<script src="/js/navbar.js"></script>