<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/button-style.css">
    <div class="row mt-0 mx-auto">
        <div class="col-md-8 mx-auto">
            <br><br>
            <h3>Create A New Listing</h3>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data" >  <!-- multipart/form-data type send  -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Add A Catchy Title" name="listing[title]" class="form-control border border-black border-opacity-50" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea cols="20" rows="3" placeholder="Enter Description" name="listing[description]" class="form-control border border-black border-opacity-50" required></textarea>
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" placeholder="Enter Image URL/Link" name="listing[image]" class="form-control">
                </div> -->
                <div class=" row mb-3">
                    <div class="col-10">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" class="form-control border border-black border-opacity-50" id="verify-img" required>
                        <p id="errorContainer"></p>
                    </div>
                    <div class="col-2">
                        <label class="form-control border border-white" style="margin-left: -15px;font-weight: 700;" for="verify">Verify</label>
                        <input type="checkbox" id="verify" class="form-btn btn ms-2 border border-black border-opacity-50"  required style="height: 25px; width:25px;">
                        <div class="invalid-feedback">Varify</div>
                    </div>
                </div>
                <div class="m-b3">
                    <label for="category" class="form-label">Choose Category</label>
                    <div class="category-choose">
                        <p><b>Single choose :</b> Click &nbsp;&nbsp;</p>
                        <p><b>Multiple choose :</b> Ctrl + Click</p>
                    </div>
                    <select id="category" name="listing[category]" class="form-select border border-black border-opacity-50 mb-2"  multiple required style="font-size: .95rem;">
                        <option value="Beachfront">Beachfront</option>
                        <option value="Cabins">Cabins</option>
                        <option value="Omg">OMG</option>
                        <option value="Lake">Lake</option>
                        <option value="Design">Design</option>
                        <option value="Amazing Pools">Amazing pools</option>
                        <option value="Farms">Farms</option>
                        <option value="Amazing Views">Amazing views</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Lakefront">Lakefront</option>
                        <option value="Tiny Homes">Tiny homes</option>
                        <option value="Countryside">Countryside</option>
                        <option value="Treehouse">Treehouse</option>
                        <option value="Trending">Trending</option>
                        <option value="Tropical">Tropical</option>
                        <option value="National Parks">National parks</option>
                        <option value="Casties">Casties</option>
                        <option value="Camping">Camping</option>
                        <option value="Top Of The World">Top of the world</option>
                        <option value="Luxe">Luxe</option>
                        <option value="Iconic Cities">Iconic cities</option>
                        <option value="Earth Homes">Earth homes</option>
                    </select>
                    <div class="invalid-feedback">Choose category name</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">₹</span>
                            </div>
                            <input type="number" placeholder="Enter Price" name="listing[price]" class="form-control border border-black border-opacity-50" required>
                            <div class="input-group-append">
                              <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" placeholder="Enter Country" name="listing[country]" class="form-control border border-black border-opacity-50" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" placeholder="Enter Location" name="listing[location]" class="form-control border border-black border-opacity-50" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-success mb-3 styleBtn">Add</button>
            </form>
        </div>
    </div>

    <script src="/js/newImg-size.js"></script>
