<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/button-style.css">
<link rel="stylesheet" href="/css/auth-account.css">
<body>
    <!-- <div class="row mt-3 mx-auto">
        <div class=" col-md-8 mx-auto"> -->
    <div id="account-set-main">
        <div id="account-set">

            <h2>LogIn on Airbnb Project</h2>
            <h4 class="mt-2 mb-3">Don't have an account? <a href="/signup">Sign Up</a></h4>
            <div id="auth-account">
                <a href="/auth/google">
                    <img src="/Icon/google.png" alt="">
                    <div>Continue with Google&nbsp;&nbsp;&nbsp;</div>
                </a>
                <a href="/auth/facebook">
                    <img src="/Icon/facebook_auth.png" alt="">
                    <div>Continue with Facebook</div>
                </a>
                <p class="mt-2">&boxh;&boxh;&boxh;&boxh;&boxh;&boxh;&nbsp;<b>Or</b>&nbsp;&boxh;&boxh;&boxh;&boxh;&boxh;&boxh;&nbsp;</p>
            </div>
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input id="username" type="text" placeholder="Enter Username" name="username" class="form-control border border-black border-opacity-50" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" placeholder="Enter Password" name="password" class="form-control border border-black border-opacity-50" minlength="8" required>
                </div>
                <button class="btn btn-primary styleBtn">LogIn</button>
            </form>
        </div>
    </div>
</body>