<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3 mx-auto">
        <div class="col-md-8 mx-auto">
            <h2>Signup on WonderLust</h2>
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" type="text" placeholder="Enter Username" name="username" class="form-control border border-black border-opacity-50" required> 
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Username should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="email" placeholder="Enter Email" name="email" class="form-control border border-black border-opacity-50" required> 
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Email should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" placeholder="Enter Password" name="password" class="form-control border border-black border-opacity-50" required> 
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Password should be valid</div>
                </div>
                <button class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>
</body>